.wrapper {
  width: auto;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  outline: none;
  border: none;
}
